*{
  margin: 0;
  padding: 0;
}

.container {
  background: linear-gradient(to right top, #ff7f10,#d66501);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: #12343b;
  min-width: 470px;
  min-height: 250px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px 5px 25px 25px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1{
  color:white;
  text-align: center;
  margin:30px 0;
}

.task-input{
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: #ccc;
  background-color: #00000070;
  border-radius: 10px;
}

.button-add{
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border:0;
  background-color: #b91d28;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid #b91d28;
}
.button-add:hover{
  padding: 16px 16px ;
  border: 1px solid white;
  color: white;
  background-color: #a51a23;
}

.list-item{
  display: flex;
  margin:20px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  max-height: 30px;
}

.button-complete,.button-delete,.button-edit{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  font-size: 28px;
}

.btns{
  display: flex;
  justify-content: space-evenly;
}

.btns-btn{
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.buttons{
  margin-bottom: 10px;
}

.btn img{
  width: 35px;
  height: 35px;
  padding: 0 5px 0 5px;
}

.buton-complete{
  color: #ff7f10;
}

.button-edit{
  color: orange;
}

.button-delete{
  color:lightblue;
}

.complete{
  text-decoration-style: solid;
  text-decoration-line:line-through;
  text-decoration-color:#18a032;
  opacity: 0.6;
}

.list{
  width: 220px;
  background-color: #12343b;
  border: none;
  color: #ccc;
  font-size: 20px;
  padding-left:10px ;
  margin-right: 15px;
}

input:focus,button:focus{
  outline:none;
}

